@font-face {
  /* Load fonts locally to comply with DSGVO*/
  font-family: 'Oswald';
  src: url(/fonts/Oswald-Regular.woff2) format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
  }

  body {
    background-color: #7caebd;
  }

  .main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    color: #000;
    font-size: 190px;
  }

  .main__content input {
    display: none;
  }

  .main__content label {
    cursor: pointer;
    padding: none;
    border: none;
  }

  .main__content label:hover {
    color: #c2d1d2;
  }

  #first_name {
    text-align: center;
    font-weight: bold;
    margin-bottom: -0.2em;
  }

  #toggle_menu {
    display: inline-block;
    width: 1.25em;
    height: 0.86em;
    background-color: #fff;
    border-radius: 0.43em;
    padding: 0.1em;
  }

  @keyframes wobble_right {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0.08em);
    }
    20%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(0);
    }
  }

  #toggle_circle {
    width: 0.66em;
    height: 0.66em;
    background-color: #7caebd;
    border-radius: 50%;
    margin: auto 0.02em;
    transition: transform 0.3s ease;
    animation: wobble_right 3.5s ease-out 2s infinite;
  }

  #toggle_menu:hover {
    background-color: #e4f9fa;
  }

  .main__content input:checked ~ * #toggle_circle {
    transform: translateX(0.36em);
  }

  #personal_description {
    background-color: #000;
    position: relative;
    left: 3px;
    text-align: center;
    width: 2.7em;
    height: 0.25em;
    margin: auto;
    border-radius: 0.2em;
    color: #fff;
    transition: height .7s ease;
    overflow: hidden;
    z-index: 1;
  }

  #personal_description h1 {
    background-color: #000;
    font-size: 0.13em;
    font-weight: 500;
    padding: 0.2em;
  }

  #personal_description p {
    background-color: #000;
    font-size: 0.11em;
    font-weight: 500;
    padding: 0.5em;
    color: #e4f9fa;
  }

  .main__content input:checked ~ #personal_description {
    height: 3.1em;
  }

  #surname {
    position: sticky;
    bottom: 0.05em;
    top: 1em;
    font-size: 0.67em;
    text-align: center;
    font-weight: bold;
    margin-top: -0.25em;
  }

  #surname span {
    color: #fff;
  }

  #surname label span:hover {
    color: #e4f9fa;
  }

  @media screen and (max-width: 1300px) {

    .main__container{
      font-size: 120px;
    }
  }

  @media screen and (max-width: 730px) {

    .main__container{
      font-size: 100px;
    }
  }

  @media screen and (max-width: 380px) {

    .main__container{
      font-size: 80px;
    }
  }

  .navbar {
    display: flex;
    font-size: 0.13em;
    margin-top: 0.4em;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    list-style: none;
    width: 100%;
    align-items: center;
  }

  .navbar__item {
    display: flex;
    width: 100%;
  }

  .navbar a {
    display: flex;
    color: #e4f9fa;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    background-color: #000;
    width: 100%;
    padding: 0.2em;
  }

  .navbar a:hover {
    background-color: #e4f9fa;
    color: #000;
    transition: all 0.3s ease;
  }

  .hidden {
    opacity: 0;
    transition: opacity 2s ease;
  }

  .show {
    opacity: 1;
  }

  #cv {
    display: none;
    position: relative;
    top: 3em;
    font-weight: bold;
    min-height: 100vh;
    color: #000;
    width: 100%;
  }

  .cv__container {
    width: 100%;
  }

  .cv__container ul {
    list-style-type: none;
    padding-bottom: 3rem;
  }

  .header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 4rem;
    padding-left: 0.2em;
    background-color: #7caebd;
    z-index: 2;
  }

  #timeline__container {
    padding-top: 2em;
  }

  #timeline {
    position: relative;
    background: #fff;
    margin: 0 auto;
    width: 6px;
    border-radius: 3px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .timeline_dot {
    position: relative;
    background: #fff;
  }

  .timeline_dot::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%);
    z-index: 1;
  }

  .timeline_dot div {
    position: relative;
    top: 0;
    width: 4ch;
    font-size: 20px;
    z-index: 1;
  }

  .timeline_dot:nth-child(odd) div {
    left: -62px;
    text-align: right;
  }

  .timeline_dot:nth-child(even) div {
    left: 25px;
  }

  #cv__list_container {
    padding-top: 2em;
  }

  .cv__item {
    position: relative;
    width: 6px;
    margin: 0 auto;
  }
  
  .cv__item div {
    position: absolute;
    top: 0;
    width: 500px;
    padding: 5px 15px;
    background: #f77062;
  }
  
  .cv__item div::before {
    content: '';
    position: absolute;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .right_side {
    left: 70px;
  }
  
  .right_side::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f77062 transparent transparent;
  }
  .left_side {
    left: -570px;
    text-align: right;
    margin: 0 auto;
  }
  
  .left_side::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #f77062;
  }

  .cv__item p {
    font-size: 23px;
    font-weight: bold;
    color: #5a2721;
  }

  .cv__item time {
    color: #fff;
    font-weight: lighter;
  }

  .cv__item span {
    color: #5a2721;
    font-weight: bolder;
  }

  .disclaimer__container {
    font-family: sans-serif;
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    background-color: #f77062;
    color: #fff;
    z-index: 2;
    padding: 0.5rem;
  }