* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
  }

  .navbar {
    background: #08b6b9;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar__container {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 50px;
  }

  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }

  .navbar__item {
    height: 80px;
  }

  .navbar__links {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }

  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #f77062;
    color: #fff;
  }

  .main {
    background-color: #08b6b9;
  }

  .main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    color: #000;
    font-size: 160px;
  }

  .first_name {
    text-align: center;
    font-weight: bold;
    margin: -20px 0;
  }

  .personal_description {
    position: relative;
    left: 3px;
    font-size: 0.13em;
    font-weight: 500;
    text-align: center;
    width: 525px;
    height: 43px;
    margin: 0px auto -10px auto;
    padding: 10px;
    border-radius: 25px;
    background: #000;
    color: #fff;
    transition: height .7s ease;
    overflow: hidden;
    text-transform: uppercase;
  }

  .main__content label {
    cursor: pointer;
    padding: none;
    border: none;
  }

  .main__content label:hover {
    color: #c2d1d2;
  }

  .main__content label svg[class="toggle-off"] {
    width: 1.15em;
    height: 1.15em;
    position: relative;
    top: 32px;
    fill: #fff;
    display: inline;
  }

  .main__content label svg[class="toggle-on"] {
    width: 1.15em;
    height: 1.15em;
    position: relative;
    top: 32px;
    fill: #fff;
    display: none;
  }

  .main__content label svg[class="toggle-off"]:hover {
    fill: #e4f9fa;
  }

  .main__content label svg[class="toggle-on"]:hover {
    fill: #e4f9fa;
  }

  .main__content input {
    display: none;
  }

  .main__content input:checked ~ * label svg[class="toggle-off"] {
    display: none;
  }

  .main__content input:checked ~ * label svg[class="toggle-on"] {
    display: inline;
  }

  .main__content input:checked ~ .personal_description {
    height: 400px;
  }

  .surname {
    font-size: 0.57em;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
  }

  .surname span {
    color: #fff;
  }

  .surname label span:hover {
    color: #e4f9fa;
  }

  @media screen and (max-width: 1300px) {

    .main__container{
      font-size: 120px;
    }
    .first_name {
      margin: -12px 0px;
    }

    .main__content label svg[class="toggle-off"] {
      top: 23px;
    }
  
    .main__content label svg[class="toggle-on"] {
      top: 23px;
    }

    .personal_description {
      left: 3px;
      width: 400px;
      height: 35px;
      margin: 0px auto -10px auto;
      padding: 8.5px;
      border-radius: 20px;
    }
    
    .main__content input:checked ~ .personal_description {
      height: 300px;
    }
  }

  @media screen and (max-width: 730px) {

    .main__container{
      font-size: 100px;
    }
    .first_name {
      margin: -15px 0px;
    }

    .main__content label svg[class="toggle-off"] {
      top: 20px;
    }
  
    .main__content label svg[class="toggle-on"] {
      top: 20px;
    }

    .personal_description {
      left: 3px;
      width: 340px;
      height: 30px;
      margin: 0px auto -10px auto;
      padding: 7px;
      border-radius: 20px;
      font-size: 0.14em;
    }

    .main__content input:checked ~ .personal_description {
      height: 300px;
    }
  }

  @media screen and (max-width: 380px) {

    .main__container{
      font-size: 80px;
    }
    .first_name {
      margin: -10px 0px;
    }

    .main__content label svg[class="toggle-off"] {
      top: 16px;
    }
  
    .main__content label svg[class="toggle-on"] {
      top: 16px;
    }

    .personal_description {
      left: 3px;
      width: 290px;
      height: 30px;
      margin: 0px auto -10px auto;
      padding: 7px;
      border-radius: 20px;
      font-size: 0.15em;
    }

    .main__content input:checked ~ .personal_description {
      height: 300px;
    }
  }

  .disclaimer__container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 1em;
    text-align: center;
    width: 100%;
    background-color: #f77062;
    color: #fff;
    z-index: 1;
    padding: 0.5em;
  }